<div class="mb-3">
  <%= link_to "« Back", admin_services_path %>
</div>

<h1 class="mb-3">New Service</h1>

<%= bootstrap_form_with model: @service, url: admin_services_path do |form| %>
  <%= form.text_field :username, required: true %>

  <%= form.primary "Create Service" %>
<% end %>
