<%# locals: (form:, path_prefix: []) %>

<%= bootstrap_form_with(
  model:  form,
  scope:  :form,
  url:    [*path_prefix, :ssh_keys],
  method: :post,
  data:   {controller: 'read-file'}
) do |f| %>
  <%= f.text_area :ssh_key, **{
    label:    'Key',
    required: true,
    data:     {controller: 'autosize', read_file_target: 'destination'},
    help:     'Supported key types: RSA, ECDSA, and ED25519.'
  } %>

  <%= f.form_group do %>
    <input type="file" accept=".pub" id="file" data-action="read-file#read" hidden />

    <label for="file" class="btn btn-outline-primary">
      Load from file
    </label>
  <% end %>

  <%= f.primary 'Save' %>
<% end %>
