<h1 class="mb-3">Add new SSH key</h1>

<%= bootstrap_form_with model: @form, url: ssh_keys_path do |f| %>
  <%= f.text_area :ssh_key, label: "Key", required: true, data: { controller: "autosize" } %>

  <%= f.primary "Add SSH key" %>
<% end %>
