<div class="mb-3">
  <%= link_to '« Back', admin_readers_path %>
</div>

<h1 class="mb-3">New Reader</h1>

<%= bootstrap_form_with model: @reader, url: admin_readers_path do |form| %>
  <%= form.text_field :id, required: true %>

  <%= form.primary 'Create Reader' %>
<% end %>
